body {
	font-size:12px;
	color:#222;
	background:#E0ECFA;
	font-family:Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
	margin: 10px;
}

.help-code {
    background-color: #eeeeee
}