body {
	font-size:12px;
	color:#222;
	background:#fff;
	font-family:Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
	margin: 0px;
	}
/*------------------------------------*/
#map_div {
	margin: 0px auto;
	position: absolute;
	top:0px; 
	bottom:0; left:0; right:0;
	overflow:hidden;
}
.olTileImage {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
/*------------------------------------*/
.page-header {
	position: absolute;
	left:0;
	right:0;
	background-color: #A9C1E5;
	margin: 0px;
	height: 40px;
}
.menu-container {
	position: absolute;
	background-color: #E0ECFA;
	top: 40px;
	bottom: 0;
	left: 0;
	width: 300px;
	min-width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.info-container {
	position: absolute;
	overflow-x: hidden;
	top: 40px;
	bottom: 0;
	left: 300px;
	right: 0;
	xmin-width: 400px;
	border: 1;
}
/*------------------------------------*/
.page-title {
	font-weight:bold;
	font-size:20px;
	margin: 4px;
}
.menu-panel {
	overflow: auto;
}
.info-panel {
	width: 100%; 
	height: 100%;
	margin: 5px;
}
#info-panel-map {
	margin: 0;
}
.map-data-panel {
	position: absolute;
	left: 0px;
	top: 40px;
	bottom: 10px;
	width: 60%;
	padding: 25px;
	background-color: #A9C1E5;
	display: none;	
	z-index: 3000;
}
.map-log-panel {
	position: absolute;
	left: 0;
	top: 200px;
	bottom: 10px;
	width: 95%;
	background-color: #A9C1E5;
	z-index: 2000;
	padding: 10px;
	xfont-weight: bold;
}
.log-text {
	position: absolute;
	white-space: nowrap;
	font-family: monospace;
	overflow: auto;
	background-color: #eeeeee;
	top: 40px; bottom: 10px; left:10px; right: 10px;
}
.map-status-panel {
	position: absolute;
	left: 0;
	top: 40;
	bottom: 10px;
	width: 80%;
	background-color: #ffffdd;
	xopacity: .8;
	z-index: 2000;
	padding: 10px;
	font-weight: bold;
	overflow: auto;
}
.map-status-controls {
	width: 100%;
	text-align: right;
}
.http-response {
	font-family: monospace;
}
.zoom-panel {
	position: absolute;
	top: 10px; left: 40px;
	z-index: 1004;
}
#btn-zoom {
	background-color: #809EC4;
	color: white;
	border: 2px solid #809EC4;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
}
#map-extent {
	font-size: 12px;
	width: 300px;
	text-align:right;
	padding-right: 5px;
}
.help-panel {
	position: absolute;
	left: 40px;
	top: 200px;
	bottom: 40px;
	width: 60%;
	padding: 25px;
	background-color: #DDDDDD;
	z-index: 4000;
}
.help-content {
  position: absolute;
  margin-left: 0px;
  margin-top: 10px;
  overflow-y: scroll;
  bottom: 10px;
  top: 20px;
}
.config-panel {
	position: absolute;
	left: 0px;
	top: 40px;
	bottom: 10px;
	width: 60%;
	padding: 25px;
	background-color: #A9C1E5;
	xdisplay: none;	
	z-index: 3000;
}

#config-text {
	width: 100%;
	height: 90%;
}
.config-wait {
	color: #bbbbbb;
	background-color: #eeeeee;
	background-image: url('img/spinner-30.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
.wms-panel {
	position: absolute;
	left: 0px;
	top: 40px;
	bottom: 10px;
	width: 60%;
	padding: 25px;
	background-color: #A9C1E5;
	xdisplay: none;	
	z-index: 3000;
}

.wms-layers {
	display: none;
	width:100%; 
	height:85%;
	background-color: #eeeeee;
	overflow: scroll;
    padding: 5px;
}
.wms-layer {
	padding: 2px;
}
.wms-layer:hover {
	font-weight: bold;
	background-color: #dddddd;
}
.btn-redraw {
	width: 26px;
	height: 26px;
	background-image: url('img/redraw.png');
	background-position: center center;
}
.btn-query {
	color: red;
}
.btn-close {
	position: absolute;
	top: 2px;
	right: 5px;
	width: 20px;
	height: 20px;
	cursor: hand;
	color: black;
	opacity: 0.4;
	font-size: 20px;
	text-align: right;
}
.add-overlay {
	background-color: #A9C1E5;
	margin-top: 40px;
	padding: 20px;
}
.overlay-name {
	background-color: #A9C1E5; /*#A9C1E5;*/
	margin-top: 10px;
	padding: 5px;
	xfont-weight: bold;
	font-size: 12pt;
}
.overlay-controls {
	margin: 5px 0px 5px 10px;
	text-align: left;
}
.overlay-stats {
	background-color: #CBDCF5; /*#A9C1E5;*/
	margin: 6px;
	text-align: right;
	border-radius: 5px;
	padding: 2px;
}
.overlay-time {
	display: inline-block;
	width: 60px;
	text-align: right;
	font-weight: bold;
	font-size: 12pt;
	color: blue;
}
.overlay-timestamp {
	margin-left: 40px;
}
.overlay-time-small {
	width: 30px; 
	font-weight: normal;
	font-size: 10pt;
	padding-right: 10px;
}
.overlay-count {
	width: 20px;
	font-weight: normal;
	font-size: 10pt;
	padding-right: 10px;
}
#overlay-timestamp {
	font-size: 11px;
	color: #888888;
}
.overlay-tiled-title {
	margin-left: 20px;
}
.layer-controls {
	margin-left: 20px;
	padding: 4px;
}
.layer-controls button {
	font-size: 10px;
}
.text-button {
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
	background-color: #dddddd;
    padding: 3px;
    border-radius: 3px;
}
.btn-layer-add {
	font-size: 16px !important;
	font-weight: bold;
	color: #60bb60;
}
.layer-div {
	position: relative;
	overflow-wrap: break-word;
}
.layer-div:hover {
	background-color: #f0f3ff;
}
.layer-title {
	word-break: break-all;
}
.layer-tools {
	display: none;
	position: absolute;
	background-color: #CBDCF5;
	padding: 2px;
	top: 0px;
	right: 0px;
	border: 4px solid #E0ECFA;
    border-radius: 3px;
}
.layer-tool {
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	cursor: pointer;
}
.layer-tool:hover {
	background-color: #A9C1E5;
}
.layer-remove {
	color: red;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 6px;
}
.layer-legend {
	display: none;
	margin-left: 40px;
    margin-top: 2px;
    margin-bottom: 6px;
}
.layer-legend  img {
	border: 1px solid black;
}
