.olHandlerBoxZoomBox {
  border: 2px solid red;
  position: absolute;
  background-color: white;
  opacity: 0.50;
  font-size: 1px;
  filter: alpha(opacity=50);
}
.olTileImage {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.olControlMousePosition {
	bottom: 2px;
    right: 3px;
    margin: 2px;
    padding: 2px 5px 2px 5px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: 12px !important; 
    background-color: white;
}
